.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}


.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}


.nav li  {
  padding: 5px;
  overflow: hidden;
}

.nav li a::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 4px;
  width: 0%;
  background-color: var(--color-brand--2);
  transition: .1s linear;
  border-radius: 30px;
}

.nav li a:hover::after {
  color: var(--color-brand--2);
  width: 60%;
  transition: .3s linear;
}

.nav li a::before {
  content: '';
  position: absolute;
  bottom: -6px;
  right: 0;
  height: 4px;
  width: 4px;
  border-radius: 80%;
  background-color: var(--color-brand--2);
  transition: .3s linear;
}

.nav li a:hover::before {
  color: var(--color-brand--2);
  transform: translateX(10px);
  transition: .3s linear;
}




/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
